
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	border-left-color:green;
	border-left-thickness:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}